<%- include('partials/dashboard-header') %>

	<main>
		<a href="/compose" id="new-post" class="btn btn-outline-primary btn-lg mb-5">あたらしい記事を書く</a>
		<section class="published-list mb-5">
			<!-- Need lists of published posts(title) with edit/delete button on the side -->
			<h1>掲載済みの記事</h1>
			<ul class="list-group">
				<% for (let i=0; i < user.posts.length; i++) { %>
					<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
						<a href="/posts/<%= user.posts[i].title %> ">
							<%= user.posts[i].title %>
						</a>
						<div class="row mr-0">
							<a href="/edit/posts/<%= user.posts[i].title %>" type="button" class="col mr-2 btn btn-outline-primary">修正する</a>
							<button type="submit" class="delete col btn btn-outline-danger" name="posts" value="<%= user.posts[i].title %>">削除する</button>
						</div>
					</li>
					<% } %>
			</ul>
		</section>
		<section class="draft-list">
			<!-- publish should be on the compose page, so no need for buttons here. Just set the link on titles to compose page -->
			<h1>保存している記事</h1>
			<div class="list-group">
				<% for (let i=0; i < user.drafts.length; i++) { %>
					<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
						<a href="/edit/drafts/<%= user.drafts[i].title %>">
							<%= user.drafts[i].title %>
						</a>
						<div class="row mr-0">
							<a href="/edit/drafts/<%= user.drafts[i].title %>" type="button" class="col mr-2 btn btn-outline-primary">編集する</a>
							<button type="submit" class="delete col btn btn-outline-danger" name="drafts" value="<%= user.drafts[i].title %>">削除する</button>
						</div>
					</li>
					<% } %>
			</div>
		</section>
	</main>
	<footer>
		<section>
			<a href="#"><i class="fab fa-github"></i></a>
			<a href="#"><i class="fab fa-linkedin-in"></i></a>
		</section>
	</footer>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		$(function () {
			$('.delete').on('click', function (event) {
				event.preventDefault();
				if (event.target.name == 'posts') {
					let post = event.target.value;
					$.ajax({
						type: 'DELETE',
						url: '/delete/posts/' + post,
						success: function () {
							window.location.reload();
						},
						error: function (error) {
							console.log(error);
						}
					});
				}

				if (event.target.name == 'drafts') {
					let draft = event.target.value;
					$.ajax({
						type: 'DELETE',
						url: '/delete/drafts/' + draft,
						success: function () {
							window.location.reload();
						},
						error: function (error) {
							console.log(error);
						}
					});
				}
			});
		});
	</script>
	</body>

	</html>