<%- include('partials/header') %>

	<main class="home">
		<section class="row ml-0">
			<% posts.forEach(function(post) { %>
				<% if (post.published === true) { %>
					<section class="col-sm-4 col-lg-3 mb-4">
						<div class="card">
							<div class="card-body">
								<h1 class="card-title">
									<a href="/posts/<%= post.title %>">
										<%= post.title %>
									</a>
								</h1>
								<p class="card-text">
									<%= post.content.substring(0, 100) %>
								</p>
								<a href="/posts/<%= post.title %>" class="btn btn-outline-primary">記事を読む</a>
								<div class="media mt-3">
									<a href="/authors/<%= post.author.displayName %>" class="card-link mr-3">
										<img src="uploads/<%=post.author.avatar %>" alt="avatar" class="circled-image">
									</a>
									<div class="media-body">
										<a href="/authors/<%= post.author.displayName %>" class="card-link author">
											<%= post.author.displayName %>
										</a>
										<p class="mb-0"><%= post.created %></p>
									</div>
								</div>
							</div>
						</div>
					</section>
					<% } %>
						<% }); %>
		</section>
	</main>

	<%- include('partials/footer') %>